<div class="container my-5 p-5 rounded shadow-lg">
  <div class="row">
    <div class="col">
      <h1 class="text-center display-1 mb-3">Eat da burger!</h1>
      <p class="text-center h4 pb-3 mb-5 border-bottom">Type the burger. Look at the burger. Be the burger.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2 class="border-bottom pb-2 mb-2">Burgers Chosen</h2>
      <ul class="list-unstyled">
        {{#each burgers}}
          {{#unless devoured}}
            <li class="my-1 d-flex justify-content-between align-items-center"><span class="d-block border-dark bg-light py-1 px-2 mr-1 flex-fill rounded">{{burger_name}}</span> <button data-id="{{id}}" class="btn btn-secondary border-dark btn-sm btn-devour">Eat Up!</button></li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
      <h2 class="border-bottom pb-2 mb-2">Burgers Eaten</h2>
      <ul class="list-unstyled">
        {{#each burgers}}
          {{#if devoured}}
            <li class="text-white">{{burger_name}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="mt-5 mb-2 pb-2 border-bottom display-4 text-center">Order Up!</h2>
      <form action="/burgers/create" method="POST">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" name="burger" id="burger" class="form-control form-control-lg border-dark" placeholder="ANOTHER!" required>
            <input type="hidden" name="devoured" id="devoured" value="false">
          </div>
          <div class="col-3">
            <input type="submit" value="Feed me!" class="btn btn-light border-dark btn-lg">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
